@import '~/src/styles/mixins';

.ClubGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  @include container;
}

.wrapper {
  max-width: 1296px;
  height: 654px;
  position: relative;

  .textWrapper {
    max-width: 856px;
    margin-left: 146px;
    height: 654px;
    background: hsla(30, 58%, 93%, 1);
    padding: 70px 60px 93px 146px;
    position: absolute;
    right: 0;
  }

  .imageWrapper {
    position: absolute;
    
    max-width: 526px;
    height: 526px;
  }
}
