@import '~/src/styles/mixins';

.sportClub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.container {
  @include container;
}

.wrapper {
  max-width: 1296px;
  height: 654px;
  position: relative;

  .textWrapper {
    max-width: 856px;
    margin-left: 146px;
    height: 654px;
    background: hsla(30, 58%, 93%, 1);
    color: hsla(0, 0%, 20%, 1);
    padding: 70px 60px 93px 146px;
    float: right;

    .textTitle {
      font-weight: 700;
      font-size: 36px;
      line-height: 140%;
      margin-bottom: 40px;
    }

    .textDescription {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 30px;

      p {
        margin-bottom: 10px;
      }
    }

    .textSecondaryTitle {
      font-weight: 600;
      font-size: 21px;
      line-height: 140%;
      margin-bottom: 25px;
    }

    .list {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;

      li {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
      

        div {
          width: 8px;
          height: 8px;
          background-color: hsla(246, 38%, 66%, 1);
          margin-right: 10px;
        }
      }
    }
  }

  .imageWrapper {
    position: absolute;
    transform: translateY(70px);
    z-index: 999;
    max-width: 526px;
    height: 526px;
  }
}
