@import '~/src/styles/mixins';
@import '~/src/styles/variables';

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -$headerHeightDesktop;
  padding-top: 136px;
  height: 263px;
  margin-bottom: 60px
}

.container {
  @include container();
}

.titleWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  .title {
    font-weight: 700;
    font-size: 48px;
    color: hsla(0, 0%, 100%, 1);
  }
}
